TestConsoleNote_Manager/Service References/TestServiceNote_Manager/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51041/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51041/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51041/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Connection_InputMessage">
    <wsdl:part name="parameters" element="tns:Connection" />
  </wsdl:message>
  <wsdl:message name="IService1_Connection_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Disconnection_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnection" />
  </wsdl:message>
  <wsdl:message name="IService1_Disconnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNote" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificationNote_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificationNote" />
  </wsdl:message>
  <wsdl:message name="IService1_ModificationNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificationNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveNote_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveNote" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Notes_InputMessage">
    <wsdl:part name="parameters" element="tns:Notes" />
  </wsdl:message>
  <wsdl:message name="IService1_Notes_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddUser" message="tns:IService1_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddUserResponse" message="tns:IService1_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Connection" message="tns:IService1_Connection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConnectionResponse" message="tns:IService1_Connection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Disconnection" message="tns:IService1_Disconnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DisconnectionResponse" message="tns:IService1_Disconnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNote" message="tns:IService1_AddNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNoteResponse" message="tns:IService1_AddNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificationNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModificationNote" message="tns:IService1_ModificationNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModificationNoteResponse" message="tns:IService1_ModificationNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveNote" message="tns:IService1_RemoveNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveNoteResponse" message="tns:IService1_RemoveNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Notes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Notes" message="tns:IService1_Notes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NotesResponse" message="tns:IService1_Notes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IService1/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connection">
      <soap:operation soapAction="http://tempuri.org/IService1/Connection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnection">
      <soap:operation soapAction="http://tempuri.org/IService1/Disconnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificationNote">
      <soap:operation soapAction="http://tempuri.org/IService1/ModificationNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveNote">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notes">
      <soap:operation soapAction="http://tempuri.org/IService1/Notes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51041/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>