Client/Service References/NoteManagerService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfMyNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyNote" nillable="true" type="tns:MyNote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyNote" nillable="true" type="tns:ArrayOfMyNote" />
  <xs:complexType name="MyNote">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Modification" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Texte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyNote" nillable="true" type="tns:MyNote" />
</xs:schema>